<form novalidate (ngSubmit)="login(loginForm)" #loginForm="ngForm" autocomplete="off">
  <div class="group">
    <input ngModel name="username" type="email" required #userNameVar="ngModel" ngModel>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Email</label>
  </div>
  <div class="group">
    <input type="password" ngModel name="password" required #passwordVar="ngModel" ngModel>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Password</label>
  </div>

  <button type="submit" class="button buttonBlue" [disabled]="!loginForm.valid">Login
    <div class="ripples buttonRipples">
      <span class="ripplesCircle"></span>
    </div>
  </button>
</form>
<footer>
  <a href="http://www.polymer-project.org/" target="_blank">
    <img src="https://www.polymer-project.org/images/logos/p-logo.svg">
  </a>
  <p>You Gotta Love
    <a href="http://www.polymer-project.org/" target="_blank">Google</a>
  </p>
</footer>
