<form novalidate (ngSubmit)="login(loginForm)" #loginForm="ngForm" autocomplete="off">
  <mat-form-field style="width: 100%">
    <input matInput placeholder="E-mail" ngModel name="username" type="email" required #userNameVar="ngModel" ngModel>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="Password" ngModel name="password" type="password" required #userNameVar="ngModel" ngModel>
  </mat-form-field>

  <button mat-button type="submit" class="button buttonBlue" [disabled]="!loginForm.valid">Login</button>
</form>